<div class="container col-9 mt-3 ">
    <h3 class="mb-3">Profile</h3>
    <div class="row g-3">
        <div id="usernameDiv" class="col-12">
            <label for="username" class="form-label">Username</label>
            <a href="#" id="changeUsername" class="link-primary">Change Username</a>
            <input type="text" class="form-control" value="{{user.username}}" id="username" disabled>
        </div>

        <div id="passwordDiv" class="col-12">
            <label for="password" class="form-label">Password</label>
            <a href="#" id="changePassword" class="link-primary">Change Password</a>
            <input type="password" class="form-control" value="{{user.password}}" id="password" disabled>
        </div>

        <hr class="my-4">

        <h5 class="col-10">User Info</h5>
        <a href="#" class="link-primary col-2">Edit Info</a>
        <form method="POST" action="#" id="editForm" class="row g-3">
            <div class="col-sm-6">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstName" value="{{user.firstName}}" disabled>
            </div>

            <div class="col-sm-6">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" value="{{user.lastName}}" disabled>
            </div>

            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" value="{{user.email}}" disabled>
            </div>

            <div class="col-12">
                <label for="birthday" class="form-label">Birthday</label>
                <input type="date" class="form-control" id="birthday" value="{{user.birthday}}" disabled>
            </div>

            <div class="col-12">
                <label for="addressLine" class="form-label">Address Line</label>
                <input type="text" class="form-control" id="addressLine" value="{{user.address.addressLine}}" disabled>
            </div>

            <div class="col-12">
                <label for="apartment_suite_unitNumber" class="form-label">Apartment Suite UnitNumber</label>
                <input type="text" class="form-control" id="apartment_suite_unitNumber"
                    value="{{user.address.apartment_suite_unitNumber}}" disabled>
            </div>

            <div class="col-md-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" value="{{user.address.city}}" disabled>
            </div>

            <div class="col-md-3">
                <label for="county" class="form-label">County</label>
                <input type="text" class="form-control" id="county" value="{{user.address.county}}" disabled>
            </div>

            <div class="col-md-3">
                <label for="state" class="form-label">State</label>
                <input type="text" class="form-control" id="state" value="{{user.address.state}}" disabled>
            </div>

            <div class="col-md-3">
                <label for="postalCode" class="form-label">PostalCode</label>
                <input type="text" class="form-control" id="postalCode" value="{{user.address.postalCode}}" disabled>
            </div>

            <div class="col-12">
                <label for="gender" class="form-label">Gender </label>
                <label for="gender" id="genderLable" class="form-label">{{user.gender}}</label>
                <div id="genderDiv" style="display: none;">
                    <input class="genderRadio" id="male" name="gender" type="radio" value="male">
                    <label for="male">Male</label>
                    <input class="genderRadio" id="female" name="gender" type="radio" value="female">
                    <label for="female">Female</label>
                    <input class="genderRadio" id="transgender" name="gender" type="radio" value="transgender">
                    <label for="transgender">Transgender</label>
                    <input class="genderRadio" id="other" name="gender" type="radio" value="other">
                    <label for="other">Other</label>
                    <input class="genderRadio" id="prefer_not_to_say" name="gender" type="radio" value="">
                    <label for="Prefer not to say">Prefer not to say</label>
                </div>
            </div>

            <div class="col-md-6">
                <label for="race" class="form-label">Race</label>
                <select class="form-select" id="racebef" disabled>
                    <option value="{{user.race}}">{{user.race}}</option>
                </select>
                <select style="display: none;" class="form-select" id="raceaft">
                    <option value="">Prefer not to say</option>
                    <option value="African American or Black">African American or Black</option>
                    <option value="White">White</option>
                    <option value="Asian">Asian</option>
                    <option value="American Indian or Alaska Native">American Indian or Alaska Native</option>
                    <option value="Native Hawaiian or Other Pacific Islander">Native Hawaiian or Other Pacific Islander
                    </option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="ethnicity" class="form-label">Ethnicity</label>
                <select class="form-select" id="ethnicitybef" disabled>
                    <option value="{{user.ethnicity}}">{{user.ethnicity}}</option>
                </select>
                <select style="display: none;" class="form-select" id="ethnicityaft">
                    <option value="">Prefer not to say</option>
                    <option value="Hispanic or Latino">Hispanic or Latino</option>
                    <option value="Not Hispanic or Latino">Not Hispanic or Latino</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="insuranceType" class="form-label">Insurance Type</label>
                <select class="form-select" id="insuranceTypebef" disabled>
                    <option value="{{user.insuranceType}}">{{user.insuranceType}}</option>
                </select>
                <select style="display: none;" class="form-select" id="insuranceTypeaft">
                    <option value="No Health Insurance">No Health Insurance</option>
                    <option value="Private Insurance">Private Insurance</option>
                    <option value="Medicare">Medicare</option>
                    <option value="Medicaid">Medicaid</option>
                    <option value="CHIP">CHIP</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="insuranceName" class="form-label">Insurance Name</label>
                <input type="text" class="form-control" id="insuranceName" value="{{insuranceName}}" disabled>
            </div>

            <div class="col-md-6">
                <label for="medicalGroupNumber" class="form-label">Medical GroupNumber</label>
                <input type="text" class="form-control" id="medicalGroupNumber" value="{{medicalGroupNumber}}" disabled>
            </div>

            <div class="col-md-6">
                <label for="medicalid" class="form-label">Medical Id</label>
                <input type="text" class="form-control" id="medicalid" value="medicalid" disabled>
            </div>

            <button class="w-100 btn btn-primary btn-lg" id="editSubmit" type="submit"
                style="display: none;">Edit</button>
        </form>

        <hr class="my-4">

        <h5 class="col-10">Reservation Record</h5>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Reservation ID</th>
                    <th scope="col">Site Name</th>
                    <th scope="col">Reservation Date</th>
                    <th scope="col">Creation time</th>
                </tr>
            </thead>
            <tbody>
                {{#each reservation}}
                <tr>
                    <td data-href="/reservation/{{this._id}}">{{this._id}}</th>
                    <td>{{this.siteName}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.time}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>