<div class="container">
    <div class="row">
        <div class="col">
            <div class="mt-3">
                <a href="/vaccineInjectionSite">
                    <svg class="bi bi-arrow-left-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
                        <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
                    </svg>
                    <span class="ml-1">Back to the site list</span>
                </a>
            </div>
            <div class="border-bottom mt-3">
                <h1 class="display-4 font-weight-bold">{{siteInfo.name}}</h1>
                <span class="error font-italic" hidden></span>
                <h2 id="addressLine" class="font-italic h6">{{siteInfo.address.addressLine}}</h2>
                <h2 id="apt" class="font-italic h6">{{siteInfo.address.apartment_suite_unitNumber}}</h2>
                <h2 id="city" class="font-italic h6">{{siteInfo.address.city}}, {{siteInfo.address.county}}, {{siteInfo.address.state}}, {{siteInfo.address.postalCode}}</h2>
                <h2 id="rating" class="font-italic h6">Rating: {{siteInfo.rating}}</h2>
            </div>

            <div class="container comment-input-box">
                <form method="POST" action="/vaccineInjectionSite/{{siteInfo._id}}" class="comment-form" novalidate>
                    <div class="container"> 
                        <div class="row">
                            <div class="col form-group">
                                <label for="comment-rating" class="font-weight-bold mb-2 mt-5">Your Rating:</label>
                                <input type="number" class="form-control" name="commentRating" id="comment-rating" min="1" max="5" step="0.1" placeholder="From 1 to 5, such as 4.5">
                                <div class="invalid-feedback">
                                    Please enter a vaild rating number
                                    <p id="siteId" hidden>{{siteInfo._id}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <h3 class="font-weight-bold mb-3 mt-5">Comments</h3>    
                        </div>
                        <div class="form-group mw-50%">
                            <label for="comment-text" class="mb-1">Write your comment</label>
                            <input type="text" name="commentText" class="form-control mb-3" id="comment-text" cols="30" rows="10" placeholder="Enter a comment here"></input>
                            <div class="invalid-feedback">
                                Please enter your comment
                            </div>
                        </div>

                        <div id="comment-submit-button">
                            <button type="submit" class="btn btn-primary" name="submitButton" id="submitButton">Post Comment</button>
                        </div>
                    </div>
                    {{#each errors}}
                        <div class = "error font-italic">{{this}}</div>
                    {{/each}}
                </form>

                <ul class="list-group list-group-flush mt-5" id="comment-list">
                    {{#each comments}}
                    <li class="list-group-item mb-4"> 
                        <div class="container">
                            <div class="row">
                                <h4 class="font-weight-bold h5">{{this.name.firstName}} {{this.name.lastName}}</h4>
                                <h4 class="font-weight-bold h6">Rating: {{this.rating}}</h4>
                            </div>

                            <div class="row mt-3">
                                <p class="text-left lead">
                                    <span>
                                        {{this.comment}}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="col col-5 mt-5 ml-3">
            <div class="container p-3 border border-light rounded shadow-sm mb-5">
                <a href="/reservation/{{siteInfo._id}}">
                    <svg class="bi bi-calendar2-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M14 2H2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                    </svg>
                    <span class="font-weight-bold h3">Make Reservation</span>
                </a>
            </div>

            <div id="map-parent" class="container shadow-sm p-3 border border-light rounded">
                <h3 class="font-weight-bold">Location</h3>
                <div id="map" class="container"  style="height:500px; width:500px;"></div>
            </div>   
        </div>         
    </div>
</div>